body {
  text-align: center;
  /*background-color: #011F3F;*/
}

h1 {
  font-size: 3rem;
  margin:  5%;
  /*color: #FEF2BF;*/
}

h2 {
  /* font-family: 'Press Start 2P', cursive; */
  font-size: 1.5rem;
  margin:  5%;
  /* color: #FEF2BF; */
}

p {
  /* font-family: 'Press Start 2P', cursive; */
  text-align: left;
  text-indent: 0.5px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 1rem;
  /* color: #FEF2BF; */
}

.menu {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  text-align: center;
}

.text-center{
  text-align: center;
}

/*.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 250px;
  border: 10px solid black;
  border-radius: 20%;
}*/

#game{
  width: auto;
  height: auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
